body{
    width: 100vw;
    overflow-x:hidden;
    position: relative;
}

header{
    background-color: #070707;
    position: fixed;
    width: 100vw;
}

a{
    text-decoration: none;
    color: #828282;
    transition: 0.2s ease-out;
}

a:hover{
    color: #f0f0f0;
    transition: 0.3s ease-in;
}

h2{
    margin: 0;
    padding-bottom: 48px;
    padding-top: 48px;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.container{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

#about:before, #skills:before, #portfolio:before{
	display: block;
	content: "";
	height: 55px;
	margin: -55px 0 0;
}