body{
    width: 100vw;
    overflow-x:hidden;
    position: relative;
}

h2{
    margin: 0;
    padding-bottom: 48px; 
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.container{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

#about:before, #skills:before, #portfolio:before, #contacts::before{
	display: block;
	content: "";
	height: 52px;        
}

#linkAbout, #linkSkill, #linkPortfolio{
    content: "";
    display: block;
    height: 52px;
}